<template>
    <section class="content">
        <div class="container-fluid">

            <div class="row py-3 d-flex justify-content-center" >
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-app" @click="openModal('client', 'register')">
                                <i class="fas fa-plus"></i> Nuevo Cliente
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select class="form-control" v-model="criterio" >
                                            <option value="">Seleccione concesionario</option>
                                            <option v-for="concessionaire in arrayConcessionaire" :key="concessionaire.id" :value="concessionaire.id" v-text="concessionaire.name" ></option>
                                        </select>
                                        <input type="text" v-model="buscar"  @keyup.enter="listClient(1,buscar,criterio)" class="form-control" placeholder="Nombre Cliente">
                                        <button type="submit" @click="listClient(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Tipo Doc.</th>
                                        <th class="text-center">Número Doc.</th>
                                        <th class="text-center">Dirección </th>
                                        <th class="text-center">Teléfono</th>
                                        <th class="text-center">Correo electrónico</th>
                                        <th class="text-center">Estado</th>
                                        <th class="text-center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="client in arrayClient" :key="client.id">
                                        
                                        <td class="text-center" v-text="client.name"></td>
                                        <td class="text-center" v-text="client.document_type"></td>
                                        <td class="text-center" v-text="client.document_number"></td>
                                        <td class="text-center" v-text="client.address"></td>
                                        <td class="text-center" v-text="client.phone"></td>
                                        <td class="text-center" v-text="client.email"></td>
                                        <td class="text-center">
                                            <div v-if="client.condition">
                                                <span class="badge badge-success">Activo</span>
                                            </div>
                                            <div v-else>
                                                <span class="badge badge-danger">Inactivo</span>
                                            </div>

                                        </td>
                                        <td class="text-center">
                                            <button type="button" @click="openModal('client', 'update',client)" title="Editar" class="btn btn-outline-info btn-flat" >
                                                <i class="fas fa-user-edit"></i>
                                            </button> &nbsp;
                                            <template v-if="client.condition">
                                                <button type="button" @click="desactivateClient(client.id)" title="Desactivar" class="btn btn-outline-danger btn-flat">
                                                     <i class="fas fa-trash"></i>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <button type="button" @click="activateClient(client.id)" title="Activar" class="btn btn-outline-success btn-flat">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                            </template>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar, criterio)">Ant</a>
                                    </li>
                                    <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active':'']" >
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page" ></a>
                                    </li>
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar, criterio)">Sig</a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div> 
        <!--Inicio del modal add/update-->
        <div class="modal fade"  tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg py-3 my-3" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="titleModal" ></h4>
                        <button type="button" class="close" @click="closeModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Concesionario</label>
                                    <select class="form-control" v-model="concessionaire_id" >
                                        <option value="0" disabled>Seleccione</option>
                                        <option v-for="concessionaire in arrayConcessionaire" :key="concessionaire.id" :value="concessionaire.id" v-text="concessionaire.name" ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" v-model="name" class="form-control" placeholder="Nombre del cliente">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Tipo documento</label>
                                    <select class="form-control" v-model="document_type" >
                                        <option value="0" disabled>Seleccione</option>
                                        <option value="Pasaporte">Pasaporte</option>
                                        <option value="Nit">Nit</option>
                                        <option value="C.C">C.C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Número documento</label>
                                    <input type="text" v-model="document_number" class="form-control" placeholder="Número documento">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Dirección de residencia</label>
                                    <input type="text" v-model="address" class="form-control" placeholder="Nombre de articulo">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" v-model="phone" class="form-control" placeholder="Nombre de articulo">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Correo Electrónico</label>
                                    <input type="text" v-model="email" class="form-control" placeholder="Nombre de articulo">
                                </div>
                            </div>
                            <div v-show="errorClient" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-for="error in errorShowClient" :key="error" v-text="error">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="closeModal()" class="btn btn-secondary" >Cerrar</button>
                        <button type="button" v-if="typeAction==1" class="btn btn-primary" @click="registerClient()">Guardar</button>
                        <button type="button" v-if="typeAction==2" class="btn btn-primary" @click="updateClient()">Actualizar</button>
                    </div>
                </div>
        
            </div>
    
        </div>
   
    </section>
</template>

<script>

    export default {
        data (){
            return {
                client_id : 0,
                concessionaire_id : 0,
                name : '',
                document_type : '',
                document_number : '',
                address : '',
                phone : '',
                email : '',
                arrayClient : [],
                modal : 0,
                titleModal : '',
                typeAction: 1,
                errorClient : 0,
                errorShowClient: [],
                pagination: {
                    'total' :0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio: '',
                buscar:'',
                arrayConcessionaire : []
                }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if( !this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while( from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        methods : {
            
            listClient(page, buscar, criterio){
                let me= this;
                var url='/client?page=' + page + '&buscar='+ buscar + '&criterio='+criterio;
                axios.get(url).then(function (response){
                    console.log(response.data);
                    var respuesta = response.data;
                    me.arrayClient = respuesta.clients.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error){
                     me.arrayClient = error.data;
                })
                this.selectConcessionaire();

            },
            cambiarPagina(page, buscar, criterio){
                let me = this;
                me.pagination.current_page = page;
                me.listClient(page, buscar, criterio);
            },
            selectConcessionaire(){
                let me= this;
                var url='/concessionaire/selectConcessionaire';
                axios.get(url).then(function (response){
                    console.log(response.data);
                    var respuesta = response.data;
                    me.arrayConcessionaire = respuesta.concessionaires;
                })
                .catch(function (error){
                     me.arrayConcessionaire = error.data;
                })
            },
            registerClient(){

                if(this.validateClient()){
                    return;
                }
                let me = this;
                const params = {
                    name: me.name,
                    concessionaire_id: me.concessionaire_id,
                    document_type: me.document_type,
                    document_number: me.document_number,
                    phone: me.phone,
                    address: me.address,
                    email: me.email
                }
                me.cleanInputs();
                axios.post('/client/register', params)
                .then(res => {
                    me.closeModal();
                    me.listClient(1,'', '');
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            updateClient(){
                if(this.validateClient()){
                    return;
                }
                let me = this;
                const params = {
                    name: me.name,
                    concessionaire_id: me.concessionaire_id,
                    document_type: me.document_type,
                    document_number: me.document_number,
                    phone: me.phone,
                    address: me.address,
                    email: me.email,
                    id: me.client_id
                }
                axios.put('/client/update', params)
                .then(res => {
                   
                    me.closeModal();
                    me.listClient(1,'', '');
                    me.cleanInputs();
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            desactivateClient(id){

               swal({
                    title: 'Esta seguro de desactivar este cliente?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                    if (result.value) {

                        let me = this;

                        axios.put('/client/desactivate',{
                            'id': id
                        }).then(function (response) {
                            me.listClient(1,'', '');
                            swal(
                            'Desactivado!',
                            'El registro ha sido desactivado con éxito.',
                            'success'
                            )
                        }).catch(function (error) {
                            console.log(error);
                        });


                } else if (
                    result.dismiss === swal.DismissReason.cancel
                ) {

                }
                })

            },
            activateClient(id){

               swal({
                    title: 'Esta seguro de activar este cliente?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                    if (result.value) {
                        let me = this;

                        axios.put('/client/activate',{
                            'id': id
                        }).then(function (response) {
                            me.listClient(1,'','');
                            swal(
                            'activado!',
                            'El registro ha sido activado con éxito.',
                            'success'
                            )
                        }).catch(function (error) {
                            console.log(error);
                        });


                } else if (
                    result.dismiss === swal.DismissReason.cancel
                ) {

                }
                })

            },
            validateClient(){
                this.errorClient=0;
                this.errorShowClient=[];

                if(!this.name) this.errorShowClient.push('El nombre no puede ir vacio');
                if(!this.email) this.errorShowClient.push('El correo electrónico no puede ir vacio');
                if(!this.phone) this.errorShowClient.push('El teléfono no puede ir vacio');
                if(!this.document_type) this.errorShowClient.push('seleccione un tipo de documento');
                if(!this.document_number) this.errorShowClient.push('Ingrese un numero de documento de identificacion');
                if(this.errorShowClient.length) this.errorClient = 1;

                return this.errorClient;

            },
            closeModal(){
                this.modal=0;
                this.titleModal='';
                this.name='';

            },
            openModal(modelo, action, data = []){
                switch(modelo){
                    case "client":
                    {
                        switch(action){
                            case 'register':
                            {
                                this.modal = 1;
                                this.titleModal = 'Registrar Cliente';
                                this.name = '';
                                this.typeAction = 1;
                                break;
                            }
                            case 'update':
                            {
                                this.modal=1;
                                this.titleModal ='Actualizar cliente';
                                this.typeAction = 2;
                                this.client_id = data['id'];
                                this.concessionaire_id = data['concessionaire_id'];
                                this.name = data['name'];
                                this.document_type = data['document_type'];
                                this.document_number = data['document_number'];
                                this.address = data['address'];
                                this.phone = data['phone'];
                                this.email = data['email'];
                              
                                break;
                            }
                        }
                    }
                }
            },
            cleanInputs(){
                let me = this;
                me.concessionaire_id = 0,
                me.name = '';
                me.concessionaire_id = '';
                me.document_type = '';
                me.document_number = '';
                me.phone = '';
                me.address = '';
                me.email = '';
            }
        },
        mounted() {
            this.listClient(1,this.buscar, this.criterio);
        }
    }
</script>
<style>

    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>