<template>
    <section class="content">
        <div class="container-fluid">

            <div class="row py-3 d-flex justify-content-center" >
                <div class="col-9">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-app" @click="openModal('concessionaire', 'register')">
                                <i class="fas fa-plus"></i> Nuevo Concesionario
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select class="form-control" v-model="criterio" >
                                            <option value="">Seleccione una ciudad</option>
                                            <option v-for="city in arrayCity" :key="city.id" :value="city.id" v-text="city.name" ></option>
                                        </select>
                                        <input type="text" v-model="buscar"  @keyup.enter="listConcessionaire(1,buscar,criterio)" class="form-control" placeholder="Nombre Concesionario">
                                        <button type="submit" @click="listConcessionaire(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Ciudad</th>
                                        <th class="text-center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="concessionaire in arrayConcessionaire" :key="concessionaire.id">
                                        
                                        <td class="text-center" v-text="concessionaire.name"></td>
                                        <td class="text-center" v-text="concessionaire.name_city"></td>
                                        <td class="text-center">
                                            <button type="button" @click="openModal('concessionaire', 'update',concessionaire)" title="Editar" class="btn btn-outline-info btn-flat" >
                                                <i class="fas fa-user-edit"></i>
                                            </button> &nbsp;
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar, criterio)">Ant</a>
                                    </li>
                                    <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active':'']" >
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page" ></a>
                                    </li>
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar, criterio)">Sig</a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!--Inicio del modal add/update-->
        <div class="modal fade"  tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg py-3 my-3" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="titleModal" ></h4>
                        <button type="button" class="close" @click="closeModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <select class="form-control" v-model="city_id" >
                                        <option value="0" disabled>Seleccione ciudad</option>
                                        <option v-for="city in arrayCity" :key="city.id" :value="city.id" v-text="city.name" ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" v-model="name" class="form-control" placeholder="Nombre del cliente">
                                </div>
                            </div>
                           
                            <div v-show="errorConcessionaire" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-for="error in errorShowConcessionaire" :key="error" v-text="error">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="closeModal()" class="btn btn-secondary" >Cerrar</button>
                        <button type="button" v-if="typeAction==1" class="btn btn-primary" @click="registerConcessionaire()">Guardar</button>
                        <button type="button" v-if="typeAction==2" class="btn btn-primary" @click="updateConcessionaire()">Actualizar</button>
                    </div>
                </div>
        
            </div>
    
        </div>
   
    </section>
</template>

<script>

    export default {
        data (){
            return {
                city_id : 0,
                concessionaire_id : 0,
                name : '',
                name_city : '',
                arrayConcessionaire : [],
                modal : 0,
                titleModal : '',
                typeAction: 1,
                errorConcessionaire : 0,
                errorShowConcessionaire: [],
                pagination: {
                    'total' :0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio: '',
                buscar:'',
                arrayCity : []
                }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if( !this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while( from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        methods : {
            
            listConcessionaire(page, buscar, criterio){
                let me= this;
                var url='/concessionaire?page=' + page + '&buscar='+ buscar + '&criterio='+criterio;
                axios.get(url).then(function (response){
                    //console.log(response.data);
                    var respuesta = response.data;
                    me.arrayConcessionaire = respuesta.concessionaires.data;
                    console.log(me.arrayConcessionaire);
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error){
                     me.arrayConcessionaire = error.data;
                })
                this.selectCity();

            },
            cambiarPagina(page, buscar, criterio){
                let me = this;
                me.pagination.current_page = page;
                me.listConcessionaire(page, buscar, criterio);
            },
            selectCity(){
                let me= this;
                var url='/city';
                axios.get(url).then(function (response){
                    console.log(response.data);
                    var respuesta = response.data;
                    me.arrayCity = respuesta.cities;
                })
                .catch(function (error){
                     me.arrayCity = error.data;
                })
            },
            registerConcessionaire(){

                if(this.validateConcessionaire()){
                    return;
                }
                let me = this;
                const params = {
                    name: me.name,
                    city_id: me.city_id,
                }
                me.cleanInputs();
                axios.post('/concessionaire/register', params)
                .then(res => {
                    me.closeModal();
                    me.listConcessionaire(1,'', '');
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            updateConcessionaire(){
                if(this.validateConcessionaire()){
                    return;
                }
                let me = this;
                const params = {
                    name: me.name,
                    city_id: me.city_id,
                    id: me.concessionaire_id
                }
                axios.put('/concessionaire/update', params)
                .then(res => {
                    console.log(res);
                    me.closeModal();
                    me.listConcessionaire(1,'', '');
                    me.cleanInputs();
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            validateConcessionaire(){
                this.errorConcessionaire=0;
                this.errorShowConcessionaire=[];

                if(!this.name) this.errorShowConcessionaire.push('El nombre no puede ir vacio');
                if(!this.city_id) this.errorShowConcessionaire.push('Escoja una ciudad');
                if(this.errorShowConcessionaire.length) this.errorConcessionaire = 1;

                return this.errorConcessionaire;

            },
            closeModal(){
                this.modal=0;
                this.titleModal='';
                this.name='';

            },
            openModal(modelo, action, data = []){
                switch(modelo){
                    case "concessionaire":
                    {
                        switch(action){
                            case 'register':
                            {
                                this.modal = 1;
                                this.titleModal = 'Registrar Concesionario';
                                this.name = '';
                                this.typeAction = 1;
                                break;
                            }
                            case 'update':
                            {
                                this.modal=1;
                                this.titleModal ='Actualizar concesionario';
                                this.typeAction = 2;
                                this.city_id = data['city_id'];
                                this.concessionaire_id = data['id'];
                                this.name = data['name'];
                                break;
                            }
                        }
                    }
                }
            },
            cleanInputs(){
                let me = this;
                me.city_id = 0,
                me.name = '';
            }
        },
        mounted() {
            this.listConcessionaire(1,this.buscar, this.criterio);
        }
    }
</script>
<style>

    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>