<template>
   <section class="content">
        <div class="container-fluid">

          <div class="row">
            <section class="col-lg-7 connectedSortable ui-sortable">
                desde el componente ejemplo
            </section>
          </div>
        </div>

        
      </section>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
