<template>
    <section class="content">
        <div class="container-fluid">

            <div class="row py-3 d-flex justify-content-center" >
                <div class="col-9">
                    <!-- -->
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-app" @click="openModal('user', 'register')">
                                <i class="fas fa-plus"></i> Nuevo Usuario
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select class="form-control" v-model="criterio" >
                                            <option value="">Seleccione una role</option>
                                            <option v-for="role in arrayRole" :key="role.id" :value="role.id" v-text="role.name" ></option>
                                        </select>
                                        <input type="text" v-model="buscar"  @keyup.enter="listUser(1,buscar,criterio)" class="form-control" placeholder="Nombre usuario">
                                        <button type="submit" @click="listUser(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Correo Electronico</th>
                                        <th class="text-center">Role</th>
                                        <th class="text-center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in arrayUser" :key="user.id">
                                        
                                        <td class="text-center" v-text="user.name"></td>
                                        <td class="text-center" v-text="user.email"></td>
                                        <td class="text-center" v-text="user.name_role"></td>
                                        <td class="text-center">
                                            <button type="button" @click="openModal('user', 'update',user)" title="Editar" class="btn btn-outline-info btn-flat" >
                                                <i class="fas fa-user-edit"></i>
                                            </button> &nbsp;
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1, buscar, criterio)">Ant</a>
                                    </li>
                                    <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active':'']" >
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page" ></a>
                                    </li>
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1, buscar, criterio)">Sig</a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div> 
        <!--Inicio del modal add/update-->
        <div class="modal fade"  tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg py-3 my-3" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="titleModal" ></h4>
                        <button type="button" class="close" @click="closeModal()" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Rol</label>
                                    <select class="form-control" v-model="role_id" >
                                        <option value="0" disabled>Seleccione un rol</option>
                                        <option v-for="role in arrayRole" :key="role.id" :value="role.id" v-text="role.name" ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" v-model="name" class="form-control" placeholder="Nombre del cliente">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Correo electrónico</label>
                                    <input type="email" v-model="email" class="form-control" placeholder="Correo electrónico">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>contraseña</label>
                                    <input type="password" v-model="password" class="form-control" placeholder="contraseña">
                                </div>
                            </div>
                           
                            <div v-show="errorUser" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-for="error in errorShowUser" :key="error" v-text="error">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="closeModal()" class="btn btn-secondary" >Cerrar</button>
                        <button type="button" v-if="typeAction==1" class="btn btn-primary" @click="registerUser()">Guardar</button>
                        <button type="button" v-if="typeAction==2" class="btn btn-primary" @click="updateUser()">Actualizar</button>
                    </div>
                </div>
        
            </div>
    
        </div>
   
    </section>
</template>

<script>

    export default {
        data (){
            return {
                role_id : 0,
                user_id : 0,
                name : '',
                email: '',
                password : '',
                name_role : '',
                arrayUser : [],
                modal : 0,
                titleModal : '',
                typeAction: 1,
                errorUser : 0,
                errorShowUser: [],
                pagination: {
                    'total' :0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio: '',
                buscar:'',
                arrayRole : []
                }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            pagesNumber: function(){
                if( !this.pagination.to){
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while( from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        methods : {
            
            listUser(page, buscar, criterio){
                let me= this;
                var url='/user?page=' + page + '&buscar='+ buscar + '&criterio='+criterio;
                axios.get(url).then(function (response){
                    var respuesta = response.data;
                    me.arrayUser = respuesta.users.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error){
                     me.arrayUser = error.data;
                })
                this.selectRole();

            },
            cambiarPagina(page, buscar, criterio){
                let me = this;
                me.pagination.current_page = page;
                me.listUser(page, buscar, criterio);
            },
            selectRole(){
                let me= this;
                var url='/role';
                axios.get(url).then(function (response){
                    var respuesta = response.data;
                    me.arrayRole = respuesta.roles;
                })
                .catch(function (error){
                     me.arrayRole = error.data;
                })
            },
            registerUser(){

                if(this.validateUser()){
                    return;
                }
                let me = this;
                const params = {
                    name: me.name,
                    role_id: me.role_id,
                    email : me.email,
                    password :me.password
                }
                me.cleanInputs();
                axios.post('/user/register', params)
                .then(res => {
                    me.closeModal();
                    me.listUser(1,'', '');
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            updateUser(){
                if(this.validateUser()){
                    return;
                }
                let me = this;
                const params = {
                    name: me.name,
                    email: me.email,
                    password: me.password,
                    role_id: me.role_id,
                    id: me.user_id
                }
                axios.put('/user/update', params)
                .then(res => {
                    console.log(res);
                    me.closeModal();
                    me.listUser(1,'', '');
                    me.cleanInputs();
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            validateUser(){
                this.errorUser=0;
                this.errorShowUser=[];

                if(!this.name) this.errorShowUser.push('El nombre no puede ir vacio');
                if(this.errorShowUser.length) this.errorUser = 1;

                return this.errorUser;

            },
            closeModal(){
                this.modal=0;
                this.titleModal='';
                this.name='';

            },
            openModal(modelo, action, data = []){
                switch(modelo){
                    case "user":
                    {
                        switch(action){
                            case 'register':
                            {
                                this.modal = 1;
                                this.titleModal = 'Registrar Usuario';
                                this.name = '';
                                this.email = '';
                                this.password = '';
                                this.typeAction = 1;
                                break;
                            }
                            case 'update':
                            {
                                this.modal=1;
                                this.titleModal ='Actualizar Usuario';
                                this.typeAction = 2;
                                this.role_id = data['role_id'];
                                this.user_id = data['id'];
                                this.name = data['name'];
                                this.email = data['email'];
                                this.password = '';
                                break;
                            }
                        }
                    }
                }
            },
            cleanInputs(){
                let me = this;
                me.role_id = 0,
                me.name = '';
            }
        },
        mounted() {
            this.listUser(1,this.buscar, this.criterio);
        }
    }
</script>
<style>

    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>